.card{
    border-radius: 10px;
    background-color: #d2d2d23f;
    padding:8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ubic{
height: 40px;
background-color:#fff;
border-radius: 5px;
padding:8px 10px;
}

.text{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size:10px;
    color:#332e2c;
    margin-left:5px;
    margin-top:15px;
}

.enlace{
    text-decoration: none;
}