.card{
    display: flex;
    justify-content:center;
    margin-top:40px;
    align-items: center;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size:42px;
    color:#332e2c;
}

















@media (max-width: 576px) {
    .card{
        margin-top:20px;
        flex-direction: column;
    }
  }