.card{
    display:flex
}

.base{
    border-radius: 20px;
    background-color: #d2d2d23f;
    height: 600px;
    width: 100%;
    padding:25px 20px;
    position: relative;
    margin-left:50px;
    z-index: 0;
}


.category{
    position: absolute;
    left:50px;
    top:55px;
}

.cuerpo{
    position: relative;
    margin-left:120px;
    margin-top:200px;
}

.img{
width: 450px;
margin-top:120px;
z-index: 1;
}

.texto{
    font-family: "Montserrat", sans-serif;
    padding-right:20px;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size:28px;
    color:#332e2c;
}

.btn{
    width: 55px;
    padding: 0px 5px;
    cursor: pointer;
}













@media (max-width: 576px) {
    .card {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
    }

    .imgSize{
        width: 460px;
        display: flex;
        justify-content: center;
    }
  
    .img {
      margin-top: 100px;
      position: absolute;
      z-index: 1;
    }
  
    .cuerpo {
      margin-left: 0px;
      margin-top: 400px;
    }
  
    .category {
      left: 50px;
      top: 55px;
    }
  
    .base {
      margin-left: 0px;
      width: 100%;
      height: auto;
    }
  
    .btn {
      margin-top: 20px;
    }
  
    .texto {
      margin-top: 20px;
      padding-right: 0px;
      width: 100%;
    }
  }